<a routerLink="/">
    <img src="{{ logo }}" class="logoimage">
</a>
<div class="container">
    <router-outlet></router-outlet>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<hr />
<div class="container">
    <div class="row" id="footer">
        <div class="col-md-3">
            <a routerLink="/name" style="color:lightblue;">
                <p>Origin of our Name, "Corregidor"</p>
            </a>
        </div>
        <div class="col-md-3">
            <a routerLink="/contact" style="color:lightblue;">
                <p>Contact Corregidor</p>
            </a>
        </div>
        <div class="col-md-3">
            <a routerLink="/values" style="color:lightblue;">
                <p>Corporate Values</p>
            </a>
        </div>
        <div class="col-md-3">
            <a routerLink="/blog" style="color:lightblue;">
                <p>Blog</p>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <br/>
            <a routerLink="/">
                <img src="{{ logo }}" class="logoimage">
            </a>
        </div>
    </div>
</div>