<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8" id="title">
    <p>Our Passion At Corregidor</p>
  </div>
  <div class="col-md-2">
  </div>
</div>
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10" id="description">
    <p>
      <i>is serving you.</i>
    </p>
    Corregidor will support your business by
    <ul>
      <li>Building and maintaining your website;</li>
      <li>Setting up social media accounts and establishing your company's online presence;</li>
      <li>Learning your corporate identity and conveying it persuasively to potential customers via regular blog posts and newsletter
        updates;
      </li>
      <li>Advising your management team of the latest trends in online technology and marketing;</li>
      <li>Developing and implementing solutions customized to your business's specific needs.</li>
    </ul>
    <br/>
    <p>
      <b>As veterans,</b> we at Corregidor Services take our values seriously. These include
      <i>commitment</i>,
      <i>loyalty</i>, and
      <i>teamwork</i>.</p>
    <p>While we are happy to build your business's website and move on, we much rather establish a lasting partnership and serve
      your online needs over the longterm. At Corregidor Services, it's the quality of our service and communication that
      sets us apart. </p>
  </div>
  <div class="col-md-1">
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <a routerLink="/contact">
      <div class="btn btn-primary">Contact Corregidor</div>
    </a>
  </div>
  <div class="col-md-2">
  </div>
</div>