<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10" id="title">
    <p>"Corregidor"</p>
  </div>
  <div class="col-md-1"></div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10" id="description">
    <p>The name "Corregidor" is representative of the 1st Battalion of the 503rd Infantry Regiment of the United States Army.</p>
    <p>The values-based culture at Corregidor Services is shaped by our military service, of which the 1/503rd played a significant
      role.
    </p>
    <p>Our service with the 1/503rd was during Operation Iraqi Freedom, during combat in Ar Ramadi. However, the unit's lineage
      and the history of its "Corregidor" moniker harkens to the Pacific Theatre of World War Two when men of unmatched courage
      conducted an airborne infiltration onto the Philippine Island of Corregidor.</p>
    <p>Though the business conducted here at Corregidor Services is of a much different significance than that invoked by the
      name and its history, we hope to honor the title by living up to the lofty expectations of commitment and service that
      the name, "Corregidor" demands. </p>
    <br/>
    <br/>
  </div>
  <div class="col-md-1"></div>
</div>

<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <img src="{{ crest }}" width="200" height="300">
  </div>
  <div class="col-md-4">
  </div>
</div>