@import url('https://fonts.googleapis.com/css?family=Philosopher|Squada+One');

#title {
    font-family: 'Squada One', cursive;
    font-size: 60px;
}

#description {
    font-family: 'Philosopher', sans-serif;
    font-size: 32px;
    color: rgb(197, 225, 243);
}