<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <p id="title">Corregidor Services</p>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" id="description">
        <p>A 100% veteran owned and operated solutions provider, specializing in web development and customized marketing campaigns.</p>
        
            <p>Click below to discover what Corregidor Services can do for you.</p>
            <br/>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <a routerLink="/discover"><div class="btn btn-primary">Discover Corregidor!</div></a>
        <div class="col-md-4"></div>
    </div>
</div>